.section1 {
    background-image: url("img/drawing.svg");
    background-size: cover;
}

.section2 {
    background-color: #296372;
    background-image: url("img/wave2.svg"), url("img/wave.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#section3 {
    background-color: #4d9bae;
}

#section4 {
    background: rgb(41,99,114);
    background: linear-gradient(360deg, rgba(41,99,114,1) 41%, rgba(77,155,174,1) 100%);
}

#profile {
    border-radius: 50%;
}

p {
    font-size: x-large;
    color: white;
}

h1, h3, h5 {
    color: white;
}

.card {
    background-color: #4d9bae !important;
}

.card:hover, #card2:hover {
    background-color: #418394 !important;
    transform: scale(1.05);
}
#card2 {
    background-color: #296372 !important;
}

html {
    background-color: black;
}

body { 
    opacity: 0; 
    transition: opacity 2s; 
    
} 

